/*=============================================
=             Fix Kadence block in Astra            =
=============================================*/
/*---------- Row layout - thanh resize full width ---------- */
.ast-page-builder-template .block-editor-block-list__block[data-type="kadence/rowlayout"].is-selected>.kt-padding-resize-box {
    width: 100% !important;
}

/* Row layout - chỉnh section width trong editor phù hợp với Inherit Max Width from Theme -  */
.ast-page-builder-template .wp-block-kadence-rowlayout > .kb-theme-content-width {
    width: var(--wp--custom--ast-content-width-size);
}

/*=============================================
=            Khác            =
=============================================*/
/*---------- Kadence info box có media dạng image trên section grid---------- */
.wp-block-kadence-infobox .kt-blocks-info-box-media-container .kadence-info-box-image-inner-intrisic-container .kadence-info-box-image-intrisic {
    padding-bottom: 0 !important;
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
}